{% extends 'base.html.twig' %}

{% block title %}Edit ApiCredentials{% endblock %}

{% block body %}
    <h1>Edit ApiCredentials</h1>

    {{ include('api_credentials/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_api_credentials_index') }}">back to list</a>

    {{ include('api_credentials/_delete_form.html.twig') }}
{% endblock %}
